.contact_container h1 {
    text-align: center;
    font-size: 40px;
}

.email_contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.email_contact p {
    margin: 0 0px 0 50px;
    font-size: 20px;
}

.email_contact h3 {
    font-size: 25px;
}

.address_contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.address_contact p {
    margin: 0 0px 0 50px;
    font-size: 20px;
}

.address_contact h3 {
    font-size: 25px;
}

.phone_contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.phone_contact p {
    margin: 0 0px 0 50px;
    font-size: 20px;
}

.phone_contact h3 {
    font-size: 25px;
}