.author_guidelines_container {
    margin: 40px 65px 0 65px;
}

.author_guidelines_container h1 {
    font-size: 40px;
}

.author_guidelines_container h2 {
    font-size: 30px;
}

.author_guidelines_container h3 {
    font-size: 25px;
}

.author_guidelines_container p {
    font-size: 20px;
}

@media only screen and (max-width: 500px) {
    .author_guidelines_container {
      margin: 40px 20px 0 20px;
    }
  }